<div class="container m-5 mx-auto border border-primary p-4">
    <div class="row justify-content-center align-items-center g-2 ">
        <div class="col-md-12 m-3">
            <form #detailsForm="ngForm" (ngSubmit)="onSubmit(detailsForm.value)">
            <div class="form-group">
                <div class="row m-2">
                    <div class="col-md-6  ">
                        <label for="firstName" class="form-control">Enter your Name : </label>
                    </div>
                    <div class="col-md-6  ">
                        <input minlength="3" maxlength="15" pattern="[a-zA-Zα-ωΑ-Ω]+$" required ngModel name="firstName" #firstName="ngModel" id="firstName" type="text" class="form-control">
                        <div *ngIf="firstName.touched && !firstName.errors?.['valid']">
                          <div class="alert alert-danger" *ngIf="firstName.errors?.['required']">First Name Required</div>
                          <div class="alert alert-danger" *ngIf="firstName.errors?.['minlength']">First Name must be at least {{firstName.errors?.['minlength'].requiredLength}} chars</div>
                          <div class="alert alert-danger" *ngIf="firstName.errors?.['pattern']">Wrong Pattern only alphabetical characters</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row m-2">
                    <div class="col-md-6">
                        <label for="lastName" class="form-control">Enter your LastName : </label>
                    </div>
                    <div class="col-md-6  ">
                        <input required minlength="3" pattern="[a-zA-Zα-ωΑ-Ω]+$" maxlength="15" ngModel name="lastName" #lastName="ngModel" id="lastName" type="text" class="form-control">
                        <div *ngIf="lastName.touched && !lastName.errors?.['valid']">
                            <div class="alert alert-danger" *ngIf="lastName.errors?.['required']">Last Name Required</div>
                            <div class="alert alert-danger" *ngIf="lastName.errors?.['minlength']">Last Name must be at least {{lastName.errors?.['minlength'].requiredLength}} chars</div>
                            <div class="alert alert-danger" *ngIf="lastName.errors?.['pattern']">Wrong Pattern only alphabetical characters</div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-6">
                    <button [disabled]="detailsForm.invalid" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<div *ngIf="fName !=='' && lName !==''" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>The output of the form</h1>
           <h3> Hello {{fName}} {{lName}} </h3>
        </div>
    </div>

</div>
