
<div class="container m-4 border border-primary rounded mx-auto">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-md-12 text-center">
       <h3>{{message}}</h3>
       <br>
       <hr>
       <button class="btn btn-primary" (click)="clickHandler()">Go to about</button>
    </div>

  </div>
</div>

<!-- <app-child [isValidUser]="isLoggedIn" (messageEvent)="onMessageHandler($event)" ></app-child> -->
<!-- <app-course-delete [course]="homeCourse" (deleteEvent)="onDeleted($event)"></app-course-delete>
<app-course-edit [courseID]="homeCourseId"></app-course-edit> -->
