
<div class="container border border-primary rounded mx-auto">
  <div class="row ">
    <div class="col-md-12 ">
       <h3 class="text-center">{{message}}</h3>
       <br>
       <p>
        &nbsp; This project is for educational purpose. Before you start the project do not forget to run <strong>json-server using port 5001</strong>.
        In the project we implement the following Angular features :
       </p>
       <ul style="font-size: larger;">
        <li>Data Binding</li>
        <li>Event Binding</li>
        <li>Property Binding</li>
        <li>Style Binding</li>
        <li>Two Way Binding</li>
        <li>Creating and using Components</li>
        <li>Creating and using Modules</li>
        <li>Using pipes</li>
        <li>Using Directives</li>
        <li>Creating user defined Pipes</li>
        <li>Creating and using Services</li>
        <li>Using D.I. Dependency Injection</li>
        <li>Using Observables and rxjs library</li>
        <li>Using @Input() Directive</li>
        <li>Using @Output() Directive</li>
        <li>Accessing WEB A.P.I. using http</li>
        <li>Creating and using Template Driven Forms</li>
        <li>Creating and using Reactive Forms</li>
        <li>Using Validators</li>
        <li>Create Custom Validators</li>
        <li>Creating and Using Routing</li>
        <li>Install and using Bootstrap in Angular</li>
        <li>Installing and using JQuery</li>
        <li>Install and User Angular/Material</li>
        <li>Deploy Angular project</li>
       </ul>
       <br>
       <p>
        &nbspIn order to run the project open in the project folder <strong>Visual Studio Code</strong> open a terminal and run <strong>ng serve -o</strong>
       </p>
    </div>
  </div>
</div>


